@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "tailwindcss";


input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* Restore number steppers ONLY for .with-stepper input */
input.with-stepper::-webkit-inner-spin-button,
input.with-stepper::-webkit-outer-spin-button {
  -webkit-appearance: auto;
  margin: 0;
}

input.with-stepper {
  background-color: #F4F4F4;
  -moz-appearance: number-input;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
#root {
    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}