@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}
body{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Works on Chrome, Edge, and Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Works on Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
